@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Base
@import "base/utilities";

// Font-awesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";

// Modules
@import "modules/form";

// Shared
@import "shared/sidebar";

// Layouts
@import "layouts/posts";
@import "layouts/administration";

$rounded-sm: 10px;
$rounded-md: 20px;
//color
$gray-50: #fcfcfc;
$gray-100: #f5f5f5;
$gray-200: #efefef;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #6f767e;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;


$breakpoint-supper-small: 479px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1400px;


$bg-app: #6941C6;
$bg-app-600: #6941C6B7;
$bg-app-300: #6941C68E;
$bg-app-100: #CCBAF660;


body {
    font-family: 'Manrope';font-size: 16px;
}
a{
    color: black;
}

.card-img{
    background-size: cover;
    padding-bottom: 110%;
    background-position: center;
    max-height: 400px;
    overflow: hidden;
}
.row-cols-md-2 .card-img{
    padding-bottom: 80%;
}

.rounded-10{
    border-radius: $rounded-sm
}

.rounded-20{
    border-radius: $rounded-md
}

.zoom {
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.02);
    transition: transform .2s !important;
}
.zoom:hover {
    transform: scale(1.055);
    transition: transform .2s !important;
}

.opacity-5{
    opacity: .5;
}

.logo{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-ssm{
    width: 25px;
    height: 25px;
}
.logo-sm{
    width: 40px;
    height: 40px;
}


.gray-100 {
    color: $gray-100;
}

.gray-200 {
    color: $gray-200;
}

.gray-300 {
    color: $gray-300;
}

.gray-400 {
    color: $gray-400;
}

.gray-500 {
    color: $gray-500;
}

.gray-600 {
    color: $gray-600;
}

.gray-700 {
    color: $gray-700;
}

.gray-800 {
    color: $gray-800;
}

.gray-900 {
    color: $gray-900;
}


.bg-gray-300 {
    background-color: $gray-300;
}

.bg-gray-400 {
    background-color: $gray-400;
}

.bg-gray-500 {
    background-color: $gray-500;
}

.bg-gray-600 {
    background-color: $gray-600;
}

.bg-gray-700 {
    background-color: $gray-700;
}

.bg-gray-800 {
    background-color: $gray-800;
}

.bg-gray-900 {
    background-color: $gray-900;
}
.bg-gray-100 {
    background-color: $gray-100;
}

.bg-gray-200 {
    background-color: $gray-200;
}

.app-title-xl{
    font-size: 5rem;
}

.limit-3-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


.app-btn-lg{
    padding: 1.3rem 3rem;
}
.app-title-lg{
    font-size: 4.2rem;
}
.app-title{
    font-size: 3rem;
}
.app-title-md{
    font-size: 3.5rem;
}
.app-title-ssm{
    font-size: 1.25rem;
}
.app-title-xl{
    font-size: 4.5rem;
}
.see-more{
    border-bottom: .5px solid gray;
    font-size: 1.25rem;
    color: black !important;
    padding: 5px 0;

    &:hover{
        border-bottom: 1px solid gray;

    }
}
//
@media (max-width: #{$breakpoint-small}) {
    .app-title-xl{
        font-size: 3rem;
    }
    .app-title-lg{
        font-size: 2.7rem;
    }
    .app-title-ssm{
        font-size: 1rem;
    }
    .app-btn-lg{
        padding: .8rem 1.6rem;
    }
    .app-title-md{
        font-size: 2rem;
    }
}

.editor-view img{
    width: 100%;
    height: auto;
}


@media (max-width: #{$breakpoint-medium}) {
}

@media (max-width: #{$breakpoint-large}) {
}

@media (max-width: #{$breakpoint-extra-large}) {
}


.btn-app,.app-input{
    height: 50px !important;

    &.error{
        border: 1px solid #ff9f9f !important;
    }
}

.bg-app{
    background-color: $bg-app !important;
}

.app-input ,.select2-selection{
    height: 56px !important;
    border: 1px solid #E6E6E6 !important;
    border-radius: 12px !important;
    display: flex !important;
    align-items: center;
    padding: 0 15px !important;

    &.error{
        border: 1px solid #ff9f9f !important;
    }
    & .select2-selection__rendered{
        padding: 0 !important;
    }

    & .select2-selection__arrow{
        right: 12px !important;
        & b{
            transform: scale(1.5);
        }
    }

    &::placeholder, .select2-selection__placeholder{
        color: $gray-400 !important;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 15px;
}


.bg-app-active{
    &:hover{
        background: $bg-app-600 !important;
        color: white !important;
    }

    &.active{
        color: white !important;
        background: $bg-app !important;
    }
}

.pointer-event-none-all{
    pointer-events: none !important;
}


.select2-container{
    .select2-dropdown.select2-dropdown--below{
        border: 1px solid #E6E6E6 !important;
        border-top: none !important;

        & .select2-search__field{
            border: none !important;
            border-radius: 100px;
            background: $gray-200;
            padding: 10px 15px;
            &:focus-visible{
                box-shadow: none !important;
                outline: 2px solid #e2e1e1;
            }
            &::placeholder{
            }
        }
    }
}

.dropdown-toggle::after{
    transform: scale(1.41);
    color: #888888;
}





//------------------------------------GHI DE------------------------------------
.select2-results__option--highlighted,.dropdown-item.active,.dropdown-item:focus,.dropdown-item:hover{
    background-color: $bg-app-600 !important;
    color: white;
}
.dropdown-item.active{
    background-color: $bg-app !important;
    color: white;
}
.daterangepicker{
    & td{
        &.in-range{
            background-color: $bg-app-100 !important;
        }
        &.active{
            background-color: $bg-app !important;
        }
    }
}

.cursor-pointer{
    cursor: pointer;
}

.text-app{
    color: #6941C6;
}

.text-link{
    color: #5E6BE2;
}


.circle-dot{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $gray-300;
}
.btn-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 140px;
    height: 48px;
    border: 1px solid #E6E6E6;
    border-radius: 12px;
}
